#errorMessage {
  margin: 20px;
  padding: 10px;
  background-color: #f3c2c2;
  color: #9a1010;
  border: 1px solid #ac0303;
  border-radius: 5px;

  h3 {
    padding-bottom: 5px;
  }

  li {
    list-style: square outside;
    margin-left: 15px;
  }
}

.form-control:focus {
  color:#3C464E;
  border:solid 1px #82B0D5;
  -webkit-box-shadow:0 0 9px rgba(123,198,254,0.37), inset 0 1px 2px rgba(91,114,132,0.3);
  box-shadow:0 0 9px rgba(123,198,254,0.37), inset 0 1px 2px rgba(91,114,132,0.3);
}

.error {
	max-width: 228px;
	display: none;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
	position: absolute;
	// left: 228px;
	// top: calc(100% + 8px);
	z-index: 100;
	padding: 6px 10px 7px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #d99;
}

.error:before {
	width: 0;
	height: 0;
	content: '';
	position: absolute;
	left: 15px;
	top: -7px;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid #d99;
}
