@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~normalize.css";
@import "variables";
@import "errors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  min-width: 320px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

#loader {
  display: flex;
  height: 50px;
  align-items: center;
}

.head {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 20px;

  &__item {
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    padding-left: 5px;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: #f4f4f4;
    }

    .item {
      margin-right: 5px;
      padding: 10px;
      box-sizing: border-box;

      &.delete {
        display: none;
      }

      &__name {
        width: 45%;
      }
      &__phone {
        width: 45%;
      }
      &__edit {
        width: 70px;
        text-align: right;
        display: flex;
        justify-content: space-between;

        a {
          color: gray;
          width: 100%;
          height: 100%;
          padding-right: 10px;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

          &:hover {
            color: rgb(63, 183, 252);
          }
        }
      }
    }
  }
}

.form form {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1111;

  .form__item {
    flex-basis: 360px;
    margin: 7px 5px;
    &:first-child {
      flex-basis: 420px;
    }

    input {
      height: 35px;
      padding: 0 10px;

      border: 1px solid #b1b1b1;
      border-radius: 5px;
      width: 100%;

      &#formName {
        flex-basis: 400px;
        box-sizing: border-box;
      }

      &#formPhone {
        flex-basis: 360px;
        box-sizing: border-box;
      }
    }

    input:active, input:focus {
      outline: none !important;
      border: 2px solid rgb(63, 183, 252);
      border-radius: 5px;
    }
  }



  button {
    width: 120px;
    height: 35px;
    padding: 0 10px;
    margin: 7px 5px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    border: 0 !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(63, 183, 252);
  }

  button:active, button:focus {
    outline: none !important;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}